# Unity関連
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
*.log
*.lock
.DS_Store
Thumbs.db
*.csproj
*.sln
*.userprefs

git rm --cached -r Library/
git rm --cached -r Temp/
git add .gitignore
git commit -m "Add .gitignore and remove unnecessary files"